#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## NodeJS
#############

node_modules/

#############
## Atelier
#############

.atelier

#############
## Sublime text 2
#############

*.sublime-project
*.sublime-workspace